<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script type="text/javascript" src="~/content/app.js"></script>
</head>
<body>
    <div class="container" id="app">
        @RenderBody()
    </div>
</body>
</html>