<h1>Test</h1>
<project-task-list get-project-task-request-url="@Url.Action("GetProjectTasks", "ProjectTask")"
                   get-projects-request-url="@Url.Action("GetProjects", "Project")"
                   get-statuses-reqest-url="@Url.Action("GetStatuses", "Status")"
                   project-text-id="Description"
                   project-value-id="Id"
                   status-text-id="Id"
                   status-value-id="Name">
</project-task-list>